body{
    max-width: 1600px;
    min-width: 274px;
}

html{
    background:#010205;
}

header{
    display: flex;
    height: 4.2em;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 10%;
    margin-bottom: -45px; 
    align-items: center;
}

footer{
    width: 100%;
    padding: 0 2em 1em 2em;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #010205;
    justify-content: center; 
    font-family: 'Inter', sans-serif;
    color:#3ccfe9;
}

main{
    display: flex;
    padding: 50px;
    width: auto;
    align-items: center;
    justify-content: center;
}

#contenedor-logos-encabezado{
    width: 11em;
}

#botonCambiarTema{
    padding: 0;
    height: 4em;
    width: 4em;
    background-color: #01020000;
    border:none;
}

#botonCambiarTema:hover{
    scale: 110%;
    cursor: pointer;
}

#icon-tema{
    height: 100%;
}

.imagen-encabezado{
    width: auto;
    height: 46px;
    margin: 15px -13px;
}


.logos-encabezado{
    margin: 20px -20px;
}

.logos-encabezado img{
    height: 85px;
    width: auto;    
}

.zona-analizador{
    background: #010205;
    width: 60%;
}
#contenedor-entrada{
    height: 100%;

}

.texto-a-analizar{    
    background: #010205;
    border: none;
    width: 80%;
    height: 11.6em;
    padding: 4%;
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #3ccfe9;;

}

.instrucciones{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 12px;
    margin-bottom: 10px;
    color: #5c7199;
    font-weight: bold;
    justify-content: center;
}

#admiracion{
    height: 1.5em;

}

.boton-tipo1, .boton-tipo2{
    font-family: 'Inter', sans-serif;
    width: 12em;
    height: 3.7em;
    min-height: 3.7em;
    border: 1px solid #3ccfe9;
    border-radius: 16px;
    margin: 0 0.3em;

}

.boton-tipo1:hover{
    scale: 99%;
    cursor: pointer;
}

.boton-tipo2:hover{
    scale: 99%;
    cursor: pointer;
}

.boton-tipo1{
    background:#3ccfe9;;
    color:010205;
}

.boton-tipo2{
    background: #010205;
    color: #3ccfe9;;
}


.zona-mensajes{
    display: inline-flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-radius: 32px;
    background: #09163f;
    width: 25%;
    color:#a7bec9;
    padding: 1.1em;
}

.zona-mensajes .noticia{
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 20px;

}

.zona-mensajes .mensaje-optenido{
    font-size: 1em;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 96%; 
    padding: 2%;
    overflow: auto;
    height: 85%;
}

.zona-analizador, .zona-mensajes{
    height: 30em;
    display: flex;
    text-align: center;
    flex-direction: column;
}


.logo-lupa{
    padding-top: 4em;
    max-width: 170px;
    width:80%;
}

#container img{
    height: 2em;
    margin-top: 0.5em;
}

/* ESTILOS PARA TABLETAS */

@media screen and (max-width:770px){
    html .logo-lupa{
        display: block;
        display: none;
    }

    header{
        width: 100%;
        margin-bottom: -30px;
        padding-left: 6%;
        padding-right: 1%;
    }

    body{
        width: auto;
    }

    main{
        display: flex;
        padding: 30px;
        width: 100%;
        flex-direction: column;        
    }
    
    .zona-analizador, .zona-mensajes{
        width: 100%;    
    }

    .zona-analizador{
        height: 100%;
    }

    .texto-a-analizar{
        height: 13.5em;
    }
    
    .zona-botones{
        display:inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 5px;
    }

    .boton-tipo1, .boton-tipo2 {
        height: 60px;
        width: 42%;
        margin-top: 8px;

    }

    #admiracion{
        height: 1.2em;
    }

    .instrucciones{
        font-family: 'Inter', sans-serif;
        margin-top: 12px;
        margin-left: 0;
    }

    .boton-tipo1, .boton-tipo2, .instrucciones{
        font-size: 26px;
    }

    .zona-mensajes{
        display: inline-flex;
        align-items: centr;
        margin-top: 25px; 
        justify-content: center;
        margin: 26px 0 0 0;
        width: 90%;
        height: 16em;
        color:#a7bec9;
    }

    .zona-mensajes .noticia{
        font-size: 1.8em;
        margin-bottom: 4px;    
    }
    
    .zona-mensajes .mensaje-optenido{
        font-size: 1.5em;
        font-weight: normal;
    }

}

/* ESTILOS PARA CELULARES */

@media screen and (max-width:480px){
    
    .zona-botones{
        display:inline-flex;
        flex-direction: column;        
    }

    .boton-tipo1, .boton-tipo2, .instrucciones{
        font-size: 16px;
    }

    .zona-mensajes .noticia{
        font-size: 1.3em;    
    }
    
    .zona-mensajes .mensaje-optenido{
        font-size: 1.2em;
    }
}