html{
    background:#EFF1FA;
}

header{
    height: auto;
    display: block;
    width: auto
    
    
}
.imagen-encabezado{
    width: auto;
    height: 46px;
    margin: 15px -13px;
}

main{
    display: flex;
    padding: 10px;
    width: auto;
    align-items: center;
    justify-content: center;
}



.logos-encabezado{
    margin: 20px -20px;
}

.logos-encabezado img{
    background: green;
    height: 85px;
    width: auto;
    margin-top: 1.5e,;
    
}

.zona-analizador{
    background: #EFF1FA;
    background: red;
    width: 60%;
}
.texto-a-analizar{    
    width: 70%;
    height: 9.5em;
    padding: 4%;
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #0A3871;

}

.botones{
    width: 12em;
    height: 3.7em;
}

.zona-mensajes{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-radius: 32px;
    background: white;
    width: 30%;
    color:#343A40;
}

.zona-mensajes .noticia{
    font-size: 1.3em;

}

.zona-mensajes .mensaje-optenido{
    font-size: 1em;
}

.zona-analizador, .zona-mensajes{
    height: 450px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


.logo-lupa{
    width:80%;
}

