html{
    background:#EFF1FA;
}

header{
    margin-bottom: -45px;
    height: auto;
    display: block;
    width: auto     
}

footer{
    width: auto;
    padding: 1em;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFF1FA;
    justify-content: center; 
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

main{
    display: flex;
    padding: 50px;
    width: auto;
    align-items: center;
    justify-content: center;
}

.imagen-encabezado{
    width: auto;
    height: 46px;
    margin: 15px -13px;
}


.logos-encabezado{
    margin: 20px -20px;
}

.logos-encabezado img{
    height: 85px;
    width: auto;    
}

.zona-analizador{
    background: #EFF1FA;
    width: 60%;
}

.texto-a-analizar{    
    background: #EFF1FA;
    border: none;
    width: 70%;
    height: 9.5em;
    padding: 4%;
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #0A3871;

}

.instrucciones{
    font-family: 'Inter', sans-serif;
    margin-top: 12px;
    margin-bottom: 10px;
    color: #343A40;
    font-weight: bold;
}

.boton-tipo1, .boton-tipo2{
    font-family: 'Inter', sans-serif;
    width: 12em;
    height: 3.7em;
    min-height: 3.7em;
    border: 1px solid #0A3871;
    border-radius: 16px;
    margin: 0 0.3em;

}

.boton-tipo1:hover{
    scale: 99%;
    cursor: pointer;
}

.boton-tipo2:hover{
    scale: 99%;
    cursor: pointer;
}

.boton-tipo1{
    background:#0A3871;
    color:white;
}

.boton-tipo2{
    background: #D8DFE8;
    color: #0A3871;
}


.zona-mensajes{
    display: inline-flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-radius: 32px;
    background: white;
    width: 25%;
    color:#343A40;
    padding: 1.1em;
}

.zona-mensajes .noticia{
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 20px;

}

.zona-mensajes .mensaje-optenido{
    font-size: 1em;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 96%; 
    padding: 2%;
    overflow: auto;
    height: 85%;
}

.zona-analizador, .zona-mensajes{
    height: 450px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


.logo-lupa{
    padding-top: 4em;
    width:80%;
}

#container img{
    height: 2em;
    margin-top: 0.5em;
}

/* ESTILOS PARA TABLETAS */

@media screen and (max-width:770px){
    html .logo-lupa{
        display: none;
    }
    header{
        text-align: center;
        margin-bottom: -30px;
    }
    body{
        width: auto;
    }
    main{
        display: flex;
        padding: 30px;
        width: 100%;
        flex-direction: column;        
    }
    
    .zona-analizador, .zona-mensajes{
        width: 100%;    
    }

    .zona-analizador{
        height: 650px;
    }

    .texto-a-analizar{
        height: 13.5em;
    }
    
    .zona-botones{
        display:inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 5px;
    }

    .boton-tipo1, .boton-tipo2 {
        height: 60px;
        width: 42%;
        margin-top: 8px;

    }

    .instrucciones{
        font-family: 'Inter', sans-serif;
        margin-top: 12px;
    }

    .boton-tipo1, .boton-tipo2, .instrucciones{
        font-size: 26px;
    }

    .zona-mensajes{
        display: inline-flex;
        align-items: centr;
        margin-top: 25px; 
        justify-content: center;
        margin: 26px 0 0 0;
        width: 90%;
        height: 16em;
        color:#343A40;
    }

    .zona-mensajes .noticia{
        font-size: 1.8em;
        margin-bottom: 4px;    
    }
    
    .zona-mensajes .mensaje-optenido{
        font-size: 1.5em;
        font-weight: normal;
    }

    .logo-lupa{
        display: none;
    }

}

/* ESTILOS PARA CELULARES */

@media screen and (max-width:480px){
    
    .zona-botones{
        display:inline-flex;
        flex-direction: column;        
    }

    .boton-tipo1, .boton-tipo2, .instrucciones{
        font-size: 16px;
    }

    .zona-mensajes .noticia{
        font-size: 1.3em;    
    }
    
    .zona-mensajes .mensaje-optenido{
        font-size: 1.2em;
    }
}